{{#> ProfileLayout }}
{{#> Title tag="h1" className="visually-hidden"}}
Сменить пароль
{{/Title}}
<div class="profile-password">
  <div class="profile-password__header">
    {{> ChangeAvatar}}
  </div>
  <ul class="profile-password__list">
    {{#each (passwordValue)}}
    <li class="profile-password__list_item">
      {{> UserValueRow}}
    </li>
    {{/each}}
  </ul>
  {{#>Button size="full" colorTheme="blue" className="profile-edit-page__save" }}
  Сохранить
  {{/Button}}
</div>
{{/ProfileLayout }}
