@use "src/styles/global/mixins";

.profile-password {
  @include mixins.profiles-page-container;

  &__header {
    margin-bottom: 100px;
  }

  &__list {
    width: 100%;
    margin-bottom: 160px;

    &_item {
      &:not(:last-child) {
        border-bottom: 1px solid var(--color-light-gray);
      }
    }
  }
}
