:root {
  --color-white: #fff;
  --color-blue: #3369f3;
  --color-primary-font: #1e1e1e;
  --color-red: #ff2f2f;
  --color-gray: #999999;
  --color-gray-back-bg: #fbfbfb;
  --color-light-gray: #efefef;
  --color-secondary-gray: #eaeaea;
  --color-light-blue: #e4edfd;
  --color-message-gray: #f8f8f8;
  --color-dark-light: #00000080;

  --color-shadow: #00000024;

  --font-primary: "Inter", sans-serif;

  --transition-fast: 0.15s;

  --search-panel-height: 100px;
  --chat-panel-height: 56px;
}
