:root {
  --color-white: #FFF;
  --color-blue: #3369F3;
  --color-primary-font: #1E1E1E;
  --color-red: #FF2F2F;
  --color-gray: #999999;
  --color-light-gray: #EFEFEF;
  --color-light-blue: #E4EDFD;

  --color-shadow: #00000024;

  --font-primary: 'Inter';
}