<div class="input">
  <label class="input__wrap">
    <span class="input__label">{{label}}</span>
    <input class="input__field" name="{{name}}" type="{{type}}" />
  </label>
  <span class="input__error-text">{{errorText}}</span>
</div>