<button 
  {{#if page}}
  page="{{page}}" 
  {{/if}}
  class="
    button 
    {{#if size}}
    button__size-{{size}} 
    {{/if}}
    button__color-{{colorTheme}} 
    {{className}}"
  >
  {{> @partial-block }}
</button>