.input {
  position: relative;
  width: 100%;
  --input-border-color: var(--color-blue);

  &__label {
    color: var(--color-gray);
    font-size: 13px;
    font-weight: 500;

    transition: var(--transition-fast);
  }

  &__field {
    height: 40px;
    border-bottom: 1px solid var(--input-border-color);

    &--error {
      border-color: var(--color-red);
    }
  }

  &__error-text {
    color: var(--color-red);
    font-size: 8px;
    line-height: 1;
    margin-bottom: 5px;
  }
}
