.input {
  position: relative;
  width: 100%;
  --input-border-color: var(--color-blue);

  &__label {
    color: var(--color-gray);
    font-size: 13px;
    font-weight: 500;

    position: absolute;
    left: 0;
  }

  &__field {
    height: 40px;
    border-bottom: 1px solid var(--input-border-color);
  }
}