<main class="layout-profile">
  <aside class="layout-profile__back">
    {{#> Link page="chat" color="gray" className="layout-profile__back_link"}}
      <img src="{{images.arrowIcon}}" alt="arrow" width="30" height="20">
    {{/Link}}
  </aside>
  <section class="layout-profile__content">
    {{> @partial-block }}
  </section>
</main>