<main class="layout-profile">
  <aside class="layout-profile__back">
    <a page="chat" class="layout-profile__back_link">
      <img src="src/static/images/arrow.svg" alt="arrow" width="30" height="20">
    </a>
  </aside>
  <section class="layout-profile__content">
    {{> @partial-block }}
  </section>
</main>