<div class="search-panel">
  <div class="search-panel__top">
    {{#> Link page="profile" color="gray" className="search-panel__link"}}
      Профиль
      <img src="src/static/images/arrowWithoutLine.svg" alt="arrow" height="10" width="10">
    {{/Link}}
  </div>
  <search>
    <form>
      {{> SearchInput name="search"}}
    </form>
  </search>
</div>