.input-message {
  width: 100%;
  padding: 0 30px;
  border-radius: 30px;
  background-color: var(--color-light-gray);
  height: 32px;

  font-size: 12px;
  font-weight: 500;

  border: 1px solid transparent;

  &::placeholder {
    color: var(--color-gray);
  }

  &__wrap {
    position: relative;

    & > span {
      position: absolute;
      left: 0;
      top: -10px;
    }
  }
}
