<button class='change-avatar'>
  <img src='{{images.userChangeImage}}' alt='change avatar' height='40' width='40' />
  <div class='change-avatar__wrap'>
    <p>
      поменять
      <br />
      аватар
    </p>
  </div>
</button>